.Folder {
  list-style: none;
  border: 0.0625rem solid #0000001c;
}

.Folder .active {
  background-color: lightblue;
}

.Folder + .Folder {
  border-top: 0;
}

.Folder:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.Folder:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

.Folder__link {
  display: block;
  padding: 1rem 0.5rem;
}

.Folder__title {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
}
