.Form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  max-width: 12rem;
  box-sizing: border-box;
}

.Form__group {
  display: flex;
  flex-direction: column;
}

.Form__group + .Form__group {
  margin-top: 1rem;
}

.Form__group > label {
  margin-bottom: 0.25rem;
}

.Form__group > input {
  min-width: 12rem;
  box-sizing: border-box;
}

.Form__required {
  color: crimson;
}

.Form__submit {
  flex-grow: 0;
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  min-width: 12rem;
  box-sizing: border-box;
}
