.NoteList > ul {
  margin: 0;
  padding: 0;
}

.NoteList > ul + .AddNote {
  margin-top: 1rem;
}

.NotesList__header h2 {
  margin-top: 0;
}

.AddNote {
  display: flex;
  justify-content: center;
}

.AddNote__link {
  padding: 1rem 1.5rem;
  border: 0.0625rem solid #0000001c;
  border-radius: 0.25rem;
}
